@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans';
  background-color: #f8f9fa;
}

.h-100vh {
  height: 100vh;
}

.h-80vh {
  height: 80vh;
  overflow: auto;
}
.user-image {
  height: 40px;
  width: 40px;
}

.h-300px {
  height: 200px;
}

.wrap {
  flex-wrap: wrap;
}
.sm-category {
  height: 20px;
  width: 20px;
}
.custom-my-img-small {
  height: 40px;
  width: 40px;
}

.tag {
  border-radius: 2px;
  color: hsl(0, 0%, 20%);
  font-size: 85%;
  overflow: hidden;
  padding: 3px;
  padding-left: 6px;
  width: fit-content;
  height: fit-content;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 90%);
}

.custom-rounded {
  border-radius: 2px;
  padding: 0.8rem 0.9rem;
}

@media screen and (max-width: 600px) {
  .w-300px {
    width: 360px;
    overflow: auto;
  }
}

@media screen and (max-width: 360px) {
  .w-300px {
    width: 310px;
    overflow: auto;
  }
}

.img-circle {
  border-radius: 50%;
}
